/* Main css behind the prototype */

/* General Theme override */

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;	
	background: rgb(255,228,228);
	background: -moz-linear-gradient(0deg, rgba(255,228,228,1) 0%, rgba(255,230,230,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(255,228,228,1) 0%, rgba(255,230,230,1) 100%);
	background: linear-gradient(0deg, rgba(255,228,228,1) 0%, rgba(255,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe4e4",endColorstr="#ffe6e6",GradientType=1);  
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

body h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

body h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 10% 0;
}

.rel{
	position: relative;
}

.navbar {
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
  }

  #tab-menu .item {
	padding: 6px;
}

.bottombtns{
	padding-right: 6px;
	margin-right: 5px;
}

.bottombtns:hover{
	color: #fff;
	background-color: #007bff;
}


.card{
	position: relative;
	margin: 5%;
	text-align: center;
	padding: 15% 0;
	bottom: 20px;
	display: flex;
}

.bre{
	padding: 10% 0%;
}

#landing .titleBre {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5%;
	font-size: 130px;
    font-size: 1.5vh;
}

#landing .title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 130px;
    font-size: 1.5vw;
}

#landing .how-you {
	position: relative;
	height: 250px;
	width: 85vw;
	margin-bottom: 12px;
	padding: 10% 0;
}

#landing .tracker-link {
	height: 20vh;
	width: 85vw;

}

.navbarz{
	position: fixed;
	bottom: 0;

}

.imgCalms{
	padding: 1% 5%;
	margin-bottom: 12%;
	width: 100%;
	border-radius: 30px;
}

/*calmMe.html*/
.gif-st{
	width: 100%;
	height: auto;
	margin: 5% 0;
	background-position: center;
	background-size: cover;
}

.okay{
	padding: 2% 2%;
	text-align: center;
	border-radius: 15px;
	background-color: white;
}

.flex-container {
	display: flex;
	flex-direction: column;
  }

  button{
	  padding: 10px;
	  margin-top: 5%;
	  width: 100%;
	  margin-bottom: 10%;
	  bottom: auto;
  }

.okayBtn{
	text-align: center;
	justify-content: center;
}

.feeling-imgs{
	width: 100px;
	height: auto;
	margin: 5% 0;
	background-position: center;
}
