body{
    background-color: green;
}
  
  .container {
    display: flex;           
    flex-direction: row;   /* align children in rows */
    flex-wrap: wrap;       /* allow wrapping of children for multiple rows */
    width: 50%;            /* change to width you want */
    margin: 0 auto;      
  
    border-left: 5px solid black;
    border-bottom: 5px solid black;
  }
  
  .container>div {
    border-right: 5px solid black;
    border-top: 5px solid black;
    padding:20px;
    
    display:flex;          /* make children flex too for centering */
    
    align-items:center;    /* vertical center */
    justify-content:center; /* horizontal center */
  
  }
  
  .left-col {
    width: 30%;
  }
  
  .right-col {
    width: 70%;
  }